<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>create</title>
</head>
<body>
     <form action="/create" method="post">
        <label for="post-title">Título:</label>
        <br>
        <input type="text" id="post-title" name="post-title">
        <br>
        
        <label for="post-comment">comentário:</label>
        <br>
        <input type="text" id="post-comment" name="post-comment">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>